# Dependencias
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Compilados
dist/
build/
*.js.map

# Archivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Cobertura
coverage/

# Logs
logs/
*.log
npm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
tmp/
temp/ 